Source: playerctl
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Uploaders: Nick Morrott <nickm@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 gobject-introspection,
 gtk-doc-tools,
 intltool,
 libgirepository1.0-dev,
 libglib2.0-dev,
 meson (>= 0.56.0),
 pandoc,
 pkg-config,
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/altdesktop/playerctl
Vcs-Git: https://salsa.debian.org/multimedia-team/playerctl.git
Vcs-Browser: https://salsa.debian.org/multimedia-team/playerctl

Package: playerctl
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 dbus,
Suggests:
 audacious,
 cmus,
 mopidy,
 mpd,
 mpv,
 quodlibet,
 rhythmbox-plugins,
 vlc,
Enhances:
 awesome,
 i3-wm,
 xmonad,
Description: utility to control media players via MPRIS
 Playerctl is a command-line utility and library for controlling media players
 that implement the MPRIS D-Bus Interface Specification. Compatible players
 include audacious, cmus, mopidy, mpd, mpv, quod libet, rhythmbox, spotify,
 and vlc.
 .
 Playerctl makes it easy to bind player actions, such as play and pause,
 to media keys. Playerctl also provides an introspectable library accessible
 in many popular scripting languages that allows more detailed control like
 the ability to subscribe to media player events or get metadata such as
 artist and title for the playing track.

Package: libplayerctl2
Architecture: any
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: utility to control media players via MPRIS (library)
 Playerctl is a command-line utility and library for controlling media players
 that implement the MPRIS D-Bus Interface Specification. Compatible players
 include audacious, cmus, mopidy, mpd, mpv, quod libet, rhythmbox, spotify,
 and vlc.
 .
 Playerctl makes it easy to bind player actions, such as play and pause,
 to media keys. Playerctl also provides an introspectable library accessible
 in many popular scripting languages that allows more detailed control like
 the ability to subscribe to media player events or get metadata such as
 artist and title for the playing track.
 .
 This package contains the shared library.

Package: libplayerctl-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends:
 gir1.2-playerctl-2.0 (= ${binary:Version}),
 libglib2.0-dev,
 libplayerctl2 (= ${binary:Version}),
 ${misc:Depends},
Suggests:
 libplayerctl-doc,
Description: utility to control media players via MPRIS (development files)
 Playerctl is a command-line utility and library for controlling media players
 that implement the MPRIS D-Bus Interface Specification. Compatible players
 include audacious, cmus, mopidy, mpd, mpv, quod libet, rhythmbox, spotify,
 and vlc.
 .
 Playerctl makes it easy to bind player actions, such as play and pause,
 to media keys. Playerctl also provides an introspectable library accessible
 in many popular scripting languages that allows more detailed control like
 the ability to subscribe to media player events or get metadata such as
 artist and title for the playing track.
 .
 This package contains the development files.

Package: libplayerctl-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 ${misc:Depends},
Suggests:
 devhelp,
Description: utility to control media players via MPRIS (documentation)
 Playerctl is a command-line utility and library for controlling media players
 that implement the MPRIS D-Bus Interface Specification. Compatible players
 include audacious, cmus, mopidy, mpd, mpv, quod libet, rhythmbox, spotify,
 and vlc.
 .
 Playerctl makes it easy to bind player actions, such as play and pause,
 to media keys. Playerctl also provides an introspectable library accessible
 in many popular scripting languages that allows more detailed control like
 the ability to subscribe to media player events or get metadata such as
 artist and title for the playing track.
 .
 This package contains the API documentation.

Package: gir1.2-playerctl-2.0
Architecture: any
Multi-Arch: same
Section: introspection
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: utility to control media players via MPRIS (gir bindings)
 Playerctl is a command-line utility and library for controlling media players
 that implement the MPRIS D-Bus Interface Specification. Compatible players
 include audacious, cmus, mopidy, mpd, mpv, quod libet, rhythmbox, spotify,
 and vlc.
 .
 Playerctl makes it easy to bind player actions, such as play and pause,
 to media keys. Playerctl also provides an introspectable library accessible
 in many popular scripting languages that allows more detailed control like
 the ability to subscribe to media player events or get metadata such as
 artist and title for the playing track.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.
